!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title chatspace
    %link{:href => "style.scss", :rel => "stylesheet"}/
  %body
    .wrapper
      .chat-side
        .chat-side__user
        .chat-side__groups
      .chat-main
        .chat-main__header
        .chat-main__body
        .chat-main__footer
