.chat-main__body
  - @messages.each do |message|
    .chat-main__body__message
      .chat-main__body__message__name
        = message.user.name
      .chat-main__body__message__timestamp
        = message.created_at
      .chat-main__body__message__content
        = message.body
      - if message.image?
        .chat-main__body__message__content
          = image_tag message.image
