.notice {
  height: 24px;
  width: 100%;
  color: $white;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  &__description {
  background-color: $skyblue;
  }

  &__alert {
  background-color: $orange;
  }
}
