$skyblue: #38aef0;
$palegray: #999999;
$darkgray: #434a54;
$white: white;
$orange: orange;
$side__user__background-color: #253141;
$side__group__background-color: #2f3e51;
$main__header__border-color: #eeeeee;
$main__header__group-name-font-color: #333333;
$main__form__background-color: #b8c3c7;
